fieldset {
  background: @white;
  margin: 30px 0;
  border: 0;

  legend {
    font-size: @large;
  }
}

label,
.dob-form-section legend {
  font-size: 1.4rem;
  display: inline-block;
  padding-bottom: 3px;
}

input,
select {
  border: 1px solid @medium-grey;
  border-radius: 3px;
  padding: 10px;
}

.form-section {
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  float: left;

  input,
  select,
  .error-message {
    width: 100%;
  }
}

.form-section:last-of-type {
  margin-right: 0;
}

/* DOB section */
.dob-form-section {
  .form-section {
    width: calc(33%);
    float: left;
  }

  .error-message {
    clear: both;
  }
}

/* TERMS AGREEMENT CHECKBOX */

.terms-section {
  width: 100%;

  input {
    width: auto;
  }
}

/* FORM ERROR STYLES */
.input-error {
  border: 2px solid @dark-red;
}

.error-message {
  font-size: 1.2rem;
  color: @dark-red;
  background: @pale-red;
  border: 1px solid @dark-red;
  padding: 5px;
}
