.form-section {
  background: @white;
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #ddd;

  h2 {
    font-size: @large;
    margin-top: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.login-section p:first-of-type {
  text-align: right;
}

.login-controls {
  display: flex;
  justify-content: space-between;
}

label,
.form-control__dob legend {
  font-size: 1.4rem;
  display: inline-block;
  padding: 15px 0 3px;
}

input,
select {
  border: 1px solid @medium-grey;
  border-radius: 3px;
  padding: 10px;
}

.form-control {
  width: calc(100% / 3 - 20px);

  input,
  select,
  .error-message {
    width: 100%;
  }
}

.form-control:nth-of-type(3) {
  margin-right: 0;
}

.personal-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* DOB section */
.form-control__dob {
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(66% - 5px);

  .form-control {
    width: calc(100% / 3 - 15px);
  }

  .error-message {
    width: 100%;
  }
}

/* TERMS AGREEMENT CHECKBOX */

.form-control__terms {
  width: 100%;

  input {
    width: auto;
  }
}

/* FORM ERROR STYLES */
.input-error {
  border: 2px solid @dark-red;
}

.error-message {
  font-size: 1.2rem;
  color: @dark-red;
  background: @pale-red;
  border: 1px solid @dark-red;
  padding: 5px;
}
