html {
  font-size: 62.5%;
}

body {
  font-family: @body-font;
  font-size: 1.6rem;
  line-height: 1.4;
  color: @dark-blue;
  background: @light-grey;
}

.wrapper {
  width: 80%;
  max-width: 1270px;
  margin: 30px auto 50px;
}

h1 {
  text-align: center;
  font-size: @header-text;
}

button {
  background: @yellow;
  padding: 15px 25px;
  margin-top: 20px;
  border: 1px solid @yellow;
  box-shadow: 1px 1px #744d0a;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid @dark-blue;
    box-shadow: none;
  }
}

.disclaimer {
  font-size: @small;

  a {
    color: inherit;
  }
}
