// FONTS

@body-font: "Roboto", sans-serif;

// FONT SIZES
@header-text: 2.4rem;
@large-text: 2.2rem; // headings
@medium-text: 1.6rem; // body text
@small-text: 1.4rem;

// COLOURS

@white: #ffffff;
@black: #000000;

@dark-blue: #002d53;
@yellow: #e0af2d;
@light-grey: #eeeeee;
@medium-grey: #bbbbbb;
@dark-grey: #757575;

// success message
@green: green;

// error message
@pale-red: #f2dede; // background
@dark-red: #a1010c; // border

// tooltip
@light-blue: #d6e1eb; // background
@medium-blue: #6d92b5; // border & icon

// checkbox:
@pale-blue: #e6eaf0; // background
